setuptools>=42
wheel
torch
torchaudio
pedalboard
soundfile
numpy
python-dotenv
mysql-connector-python
matplotlib
IPython
mir_eval
spotdl
pathlib
basic-pitch[tf]==0.4.0
pretty-midi>=0.2.9
tensorflow>=2.12.0